@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

#gmId {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --gradient-color-red: linear-gradient(90deg,
            hsl(7, 89%, 46%) 15%,
            hsl(11, 93%, 68%) 100%);
    --gradient-color-orange: linear-gradient(90deg,
            hsl(22, 89%, 46%) 15%,
            hsl(54, 90%, 45%) 100%);
    --gradient-color-yellow: linear-gradient(90deg,
            hsl(54, 89%, 46%) 15%,
            hsl(92, 90%, 45%) 100%);
    --gradient-color-green: linear-gradient(90deg,
            hsl(92, 89%, 46%) 15%,
            hsl(92, 90%, 68%) 100%);
    --text-color: #fff;
    --body-color: hsl(0, 0%, 11%);
    --container-color: hsl(0, 0%, 9%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Rubik', sans-serif;

    --biggest-font-size: 2.5rem;
    --normal-font-size: 0.938rem;
    --medium-font-size: 0.8rem;
    --smaller-font-size: 0.75rem;
}

/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
} */

.gas {
    height: 100%;
    display: grid;
    place-items: center;
    margin: 0 1.5rem;
}

.gas__card {
    position: relative;
    width: 50%;
    height: 240px;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    /* background-color: var(--body-color); */
    color: var(--text-color);
    /* background-color: var(--container-color); */
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.gas__text {
    margin-bottom: .5rem;
    font-size: var(--medium-font-size);
}

.gas__percentage {
    font-size: var(--biggest-font-size);
}

/* To be used if an icon is added in future */
.gas__status {
    font-size: var(--smaller-font-size);
}

.gas__pill {
    position: relative;
    width: 75px;
    height: 180px;
    background-color: var(--container-color);
    box-shadow: inset 20px 0 48px hsl(0, 0%, 16%), inset -4px 12px 48px hsl(0, 0%, 56%);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    justify-self: flex-start;
    margin-left: 1rem;
}

.gas__level {
    position: absolute;
    inset: 2px;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    overflow: hidden;
}

.gas__liquid {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
    background: var(--gradient-color-red);
    box-shadow: inset -10px 0 12px hsla(0, 0%, 0%, .1),
        inset 12px 0 12px hsla(0, 0%, 0%, .15);
    transition: .3s;
}

.gas__liquid::after {
    content: '';
    position: absolute;
    height: 8px;
    background: var(--gradient-color-red);
    box-shadow: inset 0px -3px 6px hsla(0, 0%, 0%, .2);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -4px;
    border-radius: 50%;
}

/* Liquid battery with gradient color */
.gradient-color-red,
.gradient-color-red::after {
    background: var(--gradient-color-red);
}

.gradient-color-orange,
.gradient-color-orange::after {
    background: var(--gradient-color-orange);
}

.gradient-color-yellow,
.gradient-color-yellow::after {
    background: var(--gradient-color-yellow);
}

.gradient-color-green,
.gradient-color-green::after {
    background: var(--gradient-color-green);
}